<!-- Bottom bar - improved version -->
<div class="bottom-menu d-flex d-lg-none justify-content-evenly align-items-center bg-white fixed-bottom px-2 px-sm-2 px-md-3">
  
  <a class="btn d-flex flex-column align-items-center {{#if (eq activeMenu 'report')}}text-primary{{else}}text-black{{/if}}"
     role="button" href="/report"
     aria-current="{{#if (eq activeMenu 'report')}}page{{/if}}">
    <i class="bi bi-graph-up fs-3"></i>
    <span>Tổng quan</span>
  </a>

  <!-- Product - using activeParent -->
  <a class="btn d-flex flex-column align-items-center {{#if (eq activeParent 'productManage')}}text-primary{{else}}text-black{{/if}}"
     role="button" href="/products"
     aria-current="{{#if (eq activeParent 'productManage')}}page{{/if}}">
    <i class="bi bi-bag fs-3"></i>
    <span>Sản phẩm</span>
  </a>

  <!-- Order -->
  <a class="btn d-flex flex-column align-items-center {{#if (eq activeMenu 'order')}}text-primary{{else}}text-black{{/if}}"
     role="button" href="/order"
     aria-current="{{#if (eq activeMenu 'order')}}page{{/if}}">
    <i class="bi bi-receipt fs-3"></i>
    <span>Đơn hàng</span>
  </a>

  <!-- Order history - fixed -->
  <a class="btn d-flex flex-column align-items-center {{#if (eq activeMenu 'order-history')}}text-primary{{else}}text-black{{/if}}"
     role="button" href="/order-history"
     aria-current="{{#if (eq activeMenu 'order-history')}}page{{/if}}">
    <i class="bi bi-clock-history fs-3"></i> <!-- Using Bootstrap icon instead of raw SVG -->
    <span>Lịch sử</span>
  </a>

  <!-- Profile/Menu - fixed -->
  <a class="btn d-flex flex-column align-items-center {{#if (eq activeMenu 'menu')}}text-primary{{else}}text-black{{/if}}"
     role="button" href="/menu"
     aria-current="{{#if (eq activeMenu 'menu')}}page{{/if}}">
    <i class="bi bi-person-circle fs-3"></i>
    <span>Menu</span>
  </a>
</div>