<!-- Right Menu (md and above) -->
<div class="d-none d-lg-flex flex-column" id="right-menu">
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a
        href="/report"
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        title="Tổng quan"
        class="nav-link py-2 border-bottom rounded-0 {{#if (eq activeMenu 'report')}}active disabled{{else}}text-black{{/if}}"
      >
        <i class="right-menu-icon bi bi-graph-up"></i>
        <span>Tổng quan</span>
      </a>  
    </li>

    <li class="nav-item">
      <!-- Show when expanded -->
      <button
        class="d-flex align-items-center w-100 nav-link py-2 border-bottom rounded-0 submenu-trigger {{#if (eq activeParent 'productManage')}}active{{else}}text-black{{/if}}"
        data-bs-toggle="collapse"
        data-bs-target="#productMenu">
          <i class="right-menu-icon bi bi-bag"></i>
          <span class="right-menu-expanded-item ms-1">Sản phẩm</span>
          <i class="bi bi-chevron-down right-menu-expanded-item ms-auto"></i>
      </button>

      <!-- Sub menu for expanse -->
      <div class="collapse {{#if (eq activeParent 'product')}}show{{/if}}" id="productMenu">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a 
              href="/products" 
              class="nav-link py-2 border-bottom ps-4 rounded-0 {{#if (eq activeMenu 'products')}}active disabled{{else}}text-black{{/if}}"
            >
              <i class="bi bi-bag mx-1"></i>
              <span>Sản phẩm</span>
            </a>
          </li>
          <li class="nav-item">
            <a
              href="/categories"
              class="nav-link py-2 border-bottom ps-4 rounded-0 {{#if (eq activeMenu 'categories')}}active disabled{{else}}text-black{{/if}}"
            >
              <i class="right-menu-icon bi bi-tags"></i>
              <span>Danh mục</span>
            </a>
          </li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a
        href="/sales"
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        title="Tổng quan"
        class="nav-link align-items-center py-2 border-bottom rounded-0 {{#if (eq activeMenu 'sales')}}active disabled{{else}}text-black{{/if}}"
      >
        <i class="right-menu-icon bi bi-receipt"></i>
        <span>Bán hàng</span>
      </a>  
    </li>

    <li class="nav-item">
      <a
        href="/dev"
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        title="Tổng quan"
        class="nav-link align-items-center py-2 border-bottom rounded-0 {{#if (eq activeMenu 'dev')}}active disabled{{else}}text-black{{/if}}"
      >
        <i class="right-menu-icon bi bi-braces"></i>
        <span>Bán hàng</span>
      </a>  
    </li>
  </ul>
  <!-- Collapse menu-bar for large screen -->
  <button class="btn border-0 d-none d-md-flex mt-auto" id="right-menu-toggle">
    <i class="bi bi-list fs-5 mx-auto"></i>
  </button>
</div>